body {
    box-sizing: border-box;
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    align-content: center;
    height: 35%;
    text-align: center;
    vertical-align: 50vh;
    padding: 20px;
}

header span {
    color: #FF4E50;
    font-family: 'Source Code Pro', monospace;
    font-size: 3rem;
    text-transform: uppercase;
}

.container {
    align-items: center;
    background-color: ghostwhite;
    display: flex;
    height: 70vh; 
    justify-content: space-evenly;
}

.square {
    background-color: white;
    box-shadow: 10px 10px #FF4E50;
    height: 100px;
    width: 100px;
}

.border-bottom {
   border-bottom: 7px solid #FF4E50; 

}